a {
  text-decoration: none;
}

a:link {
  color: black
}

a:visited {
  color: black;
}

a:hover {
  color: blue;
}

a:active {
  color: white;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /*font-family: 'Times New Roman', Times, serif;*/
}

.center {
  text-align: center;
}

.centerAlign {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cross:hover {
  border: 2px solid red;
  border-radius: 100%;
}